.rescuer-preview-full-width {
  width: 100%;
}

.rescuer-preview-section {
  margin-bottom: 18px;
}

.rescuer-preview-section-title {
  font-weight: 800;
  margin-bottom: 8px;
}

.rescuer-preview-document-block {
  margin-bottom: 12px;
}
